.first {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("./../utils/login.jpg");
    background-size: cover;

}
.main {

    position: fixed;
    top: 9lvh;
    left: 3lvh;
    width: 400px;
    height: 530px;
    background: #2062b9;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;

}
.main input {
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #1b1b1c
}
.main button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #1b1b1c;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
    font-family: 'Georgia', serif;
}
.main button:hover{

        background: #1b1b1c;
        border-style: solid;
        border-color: #fff;

}
.chk {
    display: none;
}



.login {
    height: 460px;
    background: #eee;
    border-radius: 70% / 10%;
    transform: translateY(-200px);
    transition: .8s ease-in-out;

}

.login label {

        color: #fff;
        font-size: 2.3em;
        justify-content: center;
        display: flex;
        margin-top: 235px;
        font-weight: bold;
        cursor: pointer;
        transition: .5s ease-in-out;

    color: #1b1b1c;
    transform: scale(1);

}


#chk:checked~.login {
    transform: translateY(-600px);
}

#chk:checked~.login label {
    transform: scale(1);
}

#chk:checked~.signup label {

    transform: scale(1);
}


.mya {
    text-decoration: none;
    color: black;
}

